.Rproj.user
.Rhistory
.Rapp.history
.RData
.Ruserdata
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
docs
dev
tidyterra.Rcheck/
tidyterra*.tar.gz
tidyterra*.tgz
CRAN-SUBMISSION
.github/pkg.lock
inst/doc
cran-comments.md
/doc/
/Meta/
.Rdata
Rplots.pdf
/.quarto/
**/*.quarto_ipynb
**/.quarto/
README_files/
README.html
index_files/
*index.html
pkgdown/*_files
