# Workflow derived from https://github.com/r-lib/actions/tree/master/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
#
# NOTE: This workflow is overkill for most R packages and
# check-standard.yaml is likely a better choice.
# usethis::use_github_action("check-standard") will install it.
on:
  schedule:
  - cron: "00 18 * * 1,4"
  workflow_dispatch:


name: dev-version ggplot2
permissions:
  contents: read

# This will cancel running jobs once a new run is triggered
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  R-CMD-check-ggplot2-devel:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
        - {os: ubuntu-latest, r: "release"}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
    - uses: actions/checkout@v6

    - uses: r-lib/actions/setup-pandoc@v2

    - uses: r-lib/actions/setup-r@v2
      with:
        r-version: ${{ matrix.config.r }}
        http-user-agent: ${{ matrix.config.http-user-agent }}
        use-public-rspm: true

    - uses: r-lib/actions/setup-r-dependencies@v2
      with:
        cache-version: ggplot-devel
        extra-packages: |
          any::rcmdcheck

        needs: check

    - name: Install ggplot2 from runiverse
      run: |
        # Install ggplot2 from rspatial runiverse
        install.packages("ggplot2",
          repos = c("https://tidyverse.r-universe.dev", "https://cloud.r-project.org")
        )

        # Display version
        cat("ggplot2 ", as.character(packageVersion("ggplot2")))
      shell: Rscript {0}

    - uses: r-lib/actions/check-r-package@v2
