name: pkgcheck
permissions:
  contents: read
  issues: write

# This will cancel running jobs once a new run is triggered
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

on:
  # Manually trigger the Action under Actions/pkgcheck
  workflow_dispatch:

jobs:
  pkgcheck:
    runs-on: ubuntu-latest

    steps:
      - uses: ropensci-review-tools/pkgcheck-action@main
        with:
          summary-only: false
          post-to-issue: true
          append-to-issue: true
