name: Clear GHA caches
permissions: write-all

on:
  workflow_dispatch:
  schedule:
    - cron:  '30 10 * * 2,5'
jobs:
  cache-clear:
    runs-on: ubuntu-latest

    steps:
      - uses: easimon/wipe-cache@main

